<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25840478730-lofmm5bi3c8f73kvv2nosg82bsl0akti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25840478730-lofmm5bi3c8f73kvv2nosg82bsl0akti</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>25840478730-q8fjndvm7k2hnfpkur75dv9vsqhmnuk3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD63q2NswqEm4mdSkTpvdQ7QCRiolSJSyE</string>
	<key>GCM_SENDER_ID</key>
	<string>25840478730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmentThree.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>assignment3-fa00b</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment3-fa00b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25840478730:ios:2f1a55942b483f74250df3</string>
</dict>
</plist>